body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 18pt;
}

header {
    background-color: burlywood;
}

nav {
    background-color: aliceblue;
    display: inline-block;
    width: 80%;
}

nav img{
    width: 10
}
.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center; 
    align-items: center;
    row-gap: 15px;
}

.grid img {
    width: 100%;
}

main {
    background-color: azure;
    font-size: 20pt;
}

footer {
    background-color: antiquewhite;
}

li {
    display: block;
    width: 250px;
}

h1 {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

p {
    line-height: normal;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}